/* *{
  box-sizing: border-box;
  outline: 1px solid red !important;
} */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-family: 'Poppins', sans-serif;   
}